:root{
    --apple-white: #FFFFFF;
    --apple-light-gray: #F5F5F7;
    --apple-gray: #86868B;
    --apple-dark: #1D1D1F;
    --apple-blue: #0071E3;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}


body{
    margin: 0;
    font-size: 1.6rem;
padding-top: 90px;
overflow-x: hidden;
    font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    "SF Pro Text",
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif;

    background-color: var(--apple-light-gray);
    color:var(--apple-gray);
    overflow-x: hidden;
}

/* =========================
   TÍTULOS
========================= */

h1,
h2,
h3,
h4{
    font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    "SF Pro Text",
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif;

    font-weight: 700;
}

h1{
    font-size: 4.8rem;
    text-align: center;
    color: var(--apple-light-gray);
    margin: 0;
    padding: 2rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.8rem;
}

dt {
    color: var(--apple-blue);
    font-size: 1.5rem;
}

/* =========================
   HEADER
========================= */

header{
    background-color: var(--apple-light-gray);
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
}



/* =========================
   BANNER
========================= */

.banner{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
    animation: slider 20s infinite;
}

.slides img{
    width: 20%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.hero-overlay{
    position: absolute;
    inset: 0;

    background:rgba(0,0,0,.45);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: var(--apple-light-gray);

    z-index: 10;
}

.hero-overlay h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 6rem;
    color: var(--apple-light-gray);
    margin-bottom: 1rem;
}

.hero-overlay p{
    font-size: 2.2rem;
    max-width: 700px;
    margin-bottom: 2rem;
}

.btn-principal{
    display: inline-block;
    padding: 1.3rem 3rem;
    background: var(--apple-dark);
    color: var(--apple-light-gray);
    text-decoration: none;
    border-radius: .8rem;
    font-weight: bold;
    transition: .3s;
}

.btn-principal:hover{
    background: var(--apple-dark);
}

/* ANIMACIÓN */

@keyframes slider{

    0%,15%{
        transform: translateX(0%);
    }

    20%,35%{
        transform: translateX(-20%);
    }

    40%,55%{
        transform: translateX(-40%);
    }

    60%,75%{
        transform: translateX(-60%);
    }

    80%,95%{
        transform: translateX(-80%);
    }

    100%{
        transform: translateX(0%);
    }
}

/* RESPONSIVE */

@media(max-width:768px){

    .banner{
        height: 300px;
    }

    .hero-overlay h1{
        font-size: 3.5rem;
    }

    .hero-overlay p{
        font-size: 1.6rem;
        padding: 0 2rem;
    }

}

/* =========================
   MENÚ
========================= */

.navbar{
    background-color: var(--apple-dark);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem 2rem;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 9999;

    box-shadow: 0 2px 10px rgba(0,0,0,.15);
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img{
    width: 50px !important;
    height: 50px !important;
    max-width: 50px !important;
    max-height: 50px !important;
    object-fit: contain;
    display: block;}

    .logo img:hover{
    transform: scale(1.2);
}
    


.logo span{
    color: var(--apple-light-gray);
    font-size: 2.4rem;
    font-weight: bold;
}

.menu{
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.menu li{
    list-style: none;
}

.menu a{
    color: var(--apple-light-gray);
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    transition: .3s;
}

.menu a:hover{
    transform: scale(1.1);
    border: 1px solid var(--apple-light-gray);
    color: var(--apple-blue);
    background-color:var(--apple-light-gray);
}

/* Checkbox oculto */

#menu-btn{
    display: none;
}

/* Botón hamburguesa */

.hamburger{
    display: none;
    color: var(--apple-light-gray);
    font-size: 3.2rem;
    cursor: pointer;
}

/* =========================
   CONTENIDO PRINCIPAL
========================= */

.contenido{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

/* =========================
   SIDEBAR IZQUIERDO
========================= */

.sidebar-izquierda{
    background-color: var(--apple-light-gray);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.sidebar-izquierda a{
    display: block;
    text-decoration: none;
    color: var(--apple-blue);
    margin-bottom: 1rem;
    transition: .3s;
}

.sidebar-izquierda a:hover{
    color: var(--apple-dark);
    padding-left: .5rem;
}

/* =========================
   CATÁLOGO LIBROS
========================= */

.catalogo-libros{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2rem;
}

.libro{
    background-color:#d1d1dwh2;
    border-radius: 1.2rem;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,.1);

    display: flex;
    flex-direction: column;

    transition: .3s;
}

.libro:hover{
    transform: translateY(-8px);
}

.libro img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.libro h3{
    margin-top: 1rem;
}

.libro p{
    line-height: 1.6;
    color: var(--apple-gray);
}

/* =========================
   BOTÓN LIBRO
========================= */

.btn-libro{
    margin-top: auto;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--apple-blue);
    color: var(--apple-light-gray);
    text-decoration: none;
    border-radius: .8rem;
    font-weight: bold;
    transition: .3s;
}

.btn-libro:hover{
    background-color: var(--apple-dark);
    color: var(--apple-light-gray);
}

/* =========================
   SIDEBAR DERECHO
========================= */

.sidebar-derecha{
    background-color: var(--apple-light-gray);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.audio-libro{
    width: 100%;
}

video{
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
}

.video-youtube{
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
}

/* =========================
   FOOTER
========================= */

footer{
    background-color:var(--apple-dark);
    color: var(--apple-light-gray);
    text-align: center;
    padding: 3rem;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.redes-sociales a{
    width: 60px;
    height: 60px;
    background-color: var(--apple-light-gray);
    color:var(--apple-dark);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 2.5rem;
    transition: .3s;
}

.redes-sociales a:hover{
    transform: translateY(-5px);
}

.redes-sociales .fa-facebook-f:hover{
    color: var(--apple-blue);
}

.redes-sociales .fa-instagram:hover{
    color: var(--apple-blue);
}

.redes-sociales .fa-x-twitter:hover{
    color: var(--apple-blue);
}

.redes-sociales .fa-youtube:hover{
    color: var(--apple-blue);
}

.redes-sociales .fa-tiktok:hover{
    color: var(--apple-blue);
}

/* =========================
   WHATSAPP FLOTANTE
========================= */

.whatsapp-float{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 65px;
    height: 65px;
    background: #25D366;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 5px 15px rgba(0,0,0,.25);
    z-index: 9999;

    transition: transform .3s ease;
}

.whatsapp-float:hover{
    transform: scale(1.5);
}

.whatsapp-float img{
    width: 38px;
    height: 38px;
    display: block;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 992px){

    .contenido{
        grid-template-columns: 1fr;
    }

    .catalogo-libros{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px){

    h1{
        font-size: 3rem;
    }

    .banner{
        height: 250px;
    }

    .slides img{
        height: 250px;
    }

    .hamburger{
        display: block;
    }

    .menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--apple-blue);
        text-align: center;
        padding: 1rem 0;
        gap: 1rem;
    }

    #menu-btn:checked ~ .menu{
        display: flex;
    }

    .catalogo-libros{
        grid-template-columns: 1fr;
    }

    .menu a{
        font-size: 1.6rem;
    }
}





/* HERO */

.hero{
    background-image:
    linear-gradient(rgba(0,0,0,.6),
    rgba(0,0,0,.6)),
    url(".img/NEW.gif");

    background-size:cover;
    background-position:center;

    height:500px;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero-overlay{
    color:var(--apple-light-gray);
}

.hero h1{
    font-family:'Archivo Black',sans-serif;
    font-size:6rem;
    color:var(--apple-light-gray);
}

.hero p{
    font-size:2rem;
}

.btn-principal{
    display:inline-block;
    margin-top:2rem;
    padding:1.2rem 3rem;

    background:var(--apple-blue);
    color:var(--apple-light-gray);

    text-decoration:none;
    border-radius:.8rem;
    font-weight:bold;
}




/* PRODUCTOS */

.productos{
    max-width:1400px;
    margin:auto;
    padding:4rem 2rem;
}

.titulo-catalogo{
    text-align:center;
    font-size:4rem;
    margin-bottom:4rem;
    
}

.catalogo-productos{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:2rem;
}

.producto{
    background:var(--apple-light-gray);
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.producto:hover{
    transform:translateY(-8px);
}

.producto img{
    width:100%;
    height:300px;
    object-fit:contain;
}

.info-producto{
    padding:2rem;
}

.info-producto h3{
    font-size:2rem;
     color:var(--apple-dark);
}

.info-producto p{
    font-size:1.5rem;
    color:var(--apple-dark);
}

.precio{
    display:block;
    font-size:2.4rem;
    color:var(--apple-blue);
    font-weight:bold;
    margin:1rem 0;
}

.precio s {
    color: var(--apple-blue);
     font-size:1.4rem;
    

}



.btn-producto{
    display:block;
    text-align:center;
    background:var(--apple-blue);
    color:var(--apple-light-gray);
    padding:1rem;
    border-radius:.8rem;
    text-decoration:none;
    font-weight:bold;
}

.btn-producto:hover{
    background-color: var(--apple-dark);
    color: var(--apple-light-gray);
}

/* FOOTER */

footer{
    background:var(--apple-dark);
    color:var(--apple-light-gray);
    text-align:center;
    padding:3rem;
}


/* RESPONSIVE */

@media(max-width:1200px){

    .catalogo-productos{
        grid-template-columns:repeat(3,1fr);
    }
}

@media(max-width:768px){

    .hamburger{
        display:block;
    }

    .menu{
        display:none;
    }

    .catalogo-productos{
        grid-template-columns:repeat(2,1fr);
    }

    .hero h1{
        font-size:4rem;
    }
}

@media(max-width:480px){

    .catalogo-productos{
        grid-template-columns:1fr;
    }
}








/*==============================
      MODAL
==============================*/


.modal:target{

    opacity: 1;

    visibility: visible;

}

.modal-contenido{

    width: 420px;

    background: #fff;

    border-radius: 15px;

    padding: 30px;

    position: relative;

    box-shadow: 0 20px 60px rgba(0,0,0,.3);

}

.cerrar{

    position: absolute;

    top: 15px;

    right: 20px;

    font-size: 32px;

    text-decoration: none;

    color: #333;

    font-weight: bold;

}

.cerrar:hover{

    color: red;

}

.modal h2{

    margin-top: 0;

    text-align: center;

}

.modal form{

    display: flex;

    flex-direction: column;

    gap: 15px;

}

.modal input{

    padding: 12px;

    border: 1px solid var(--apple-gray);

    border-radius: 8px;

    font-size: 16px;

}

.modal button{

    padding: 12px;

    border: none;

    border-radius: 8px;

    background: var(--apple-blue);

    color: var(--apple-light-gray);

    cursor: pointer;

    font-size: 16px;

}

.modal button:hover{

    background: var(--apple-dark);

}

.btn-comprar{

    display: inline-block;

    padding: 12px 25px;

    background: var(--apple-blue);

    color: var(--apple-light-gray);

    text-decoration: none;

    border-radius: 8px;

}

.btn-comprar:hover{

    background: var(--apple-dark);

}


